/* 
    Created on : Oct 10, 2018, 7:57:55 PM
    Author     : Bruno
*/

body {
    background-image: url("../img/sky.png");
}

.projetil_vermelho, .projetil_cinza {
    width: 20px;
    height: 20px;    
    position: fixed;
}

/* 
fazendo as naves rodarem
*/
.nave_vermelha, .nave_cinza {
    animation-duration: 1.5s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.nave_vencedora {
    animation-name: clockwise;
    animation-duration: 1.5s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 200px;
    height: 200px;
}

/*
rodando clockwise
*/
@keyframes clockwise {
    from {
        transform: rotate(0deg);
    }
    to { 
        transform: rotate(360deg);
    }
}

/*
rodando anticlockwise
*/
@keyframes anti_clockwise {
    from {
        transform: rotate(360deg);
    }
    to { 
        transform: rotate(0deg);
    }
}

@keyframes piscaImagem {
    100% {
        opacity: 0;
    }
    0% {
        opacity: 1;
    }
}


@keyframes piscaTexto {
    50%{
        color: transparent;
        text-shadow: none;
    }
}

#caixa {
    margin: 0 auto;
    width: 60%;
}
#titulo {
    width: 60%;
    top: 100%;
    position: fixed;
    text-align: center;
}

#nome_jogo {
    font-weight: bolder; 
    color: white; 
    text-shadow: 4px 4px red; 
    font-size: 500%; 
    margin: 5% 0 0 0
}

#desenvolvedores {
    color: white; 
    text-shadow: 1px 1px red;
    font-weight: bolder;
}

#comeca_jogo {
    animation: piscaTexto 1s infinite; 
    color: #f1c232; 
    text-shadow: 1px 1px white;
}

#historia {
    margin: 0 auto;
    width: 90%;
}
#mensagens {
    width: 90%;
    top: 30%;
    position: fixed;
    text-align: center;
    color: #0BAEE7;
    font-size: 350%; 
    font-weight: bolder;
    text-shadow: 1px 1px white;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}      